.student__stats {
  h1 {
    font-size: 1.5rem;
    border-bottom: 2.5px solid green;
    padding: 0.5rem 0;
    color: green;

    @media screen and (max-width: 614px) {
      &{
        font-size: 1.3rem;
      }
    }
  }

  form {
    padding-top: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;

    @media screen and (max-width: 670px) {
      & {
        flex-direction: column;
        max-width: 80%;
        align-items: flex-start;
        gap: 1rem;
      }
    }

    .student__statsformGroup {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-end;
      width: 100%;

      label {
        color: green;
        margin-bottom: 0.3rem;
      }

      select {
        height: 2.4rem;
        border-radius: 3px;
        padding: 0.3rem;
        border: 1px solid #c3c1c1;
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 0.9rem;
      }

      input {
        height: 2.4rem;
        border-radius: 3px;
        padding: 1rem;
        border: 1px solid #c3c1c1;
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 0.9rem;
      }

      @media screen and (max-width: 670px) {
        input,
        select {
          width: 100%;
        }
      }
    }
    .student__statsformGroup:last-child input {
      justify-self: flex-end;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      padding: 0;
      background-color: #118a17;
      cursor: pointer;
      border-radius: 10px;
      transition: 0.4s;
      font-weight: 600;
      max-width: 50%;
    }

    .student__statsformGroup:last-child input:hover {
      background-color: #fff;
      color: #118a17;
    }
  }

  .student__statstable {
    padding: 0.7rem;
    border: 2px solid #ddd;
  }
}
