.home {
  display: flex;

  .homeContainer {
    flex: 6;
    margin: 0 20px;

    @media screen and (max-width: 768px) {
      & {
        max-width: 724px;
        width: 100%;
      }
    }

    .widgets,
    .charts {
      padding: 20px 0;
      gap: 20px;
      flex-wrap: wrap;
    }
    .widgets {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      display: grid;

    }

    .charts {
      padding: 5px 0;
      grid-template-columns: 0.4fr 1fr;

      @media screen and (max-width: 840px) {
        & {
          grid-template-columns: 1fr;
        }
      }
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px 0;
  
      
      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
