.signInAsAdmin__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  padding: 5rem;
  height: 500px;
  column-gap: 2rem;
}

.signInAsAdmin__info {
  flex-grow: 0.3;
  background: rgb(17, 138, 23);
  background: linear-gradient(142deg, rgba(27, 185, 35, 0.8), rgb(28, 76, 3));
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signInAsAdmin__info h1 {
  font-size: 3rem;
}

.signInAsAdmin__details {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.signInAsAdmin__details h2 {
  margin: 0 0 1rem;
}

.signInAsAdmin__details form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}

.signInAsAdmin__details form input {
  height: 2.4rem;
  border-radius: 3px;
  padding: 1rem;
  border: 1px solid #c3c1c1;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

.signInAsAdmin__details form input:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #118a17;
  padding: 0;
  margin-top: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 600;
  border: 1px solid #118a17;
}

.signInAsAdmin__details form input:last-child:hover {
  background-color: #fff;
  color: #118a17;
}

.signInAsAdmin__text {
  margin-top: 1.5rem;
  color: #118a17;
}

.to_signin:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .signInAsAdmin__wrapper {
    padding: 5rem 2rem;
  }

  .signInAsAdmin__info h1 {
    font-size: 2rem;
  }
  .signInAsAdmin__info p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 700px) {
  .signInAsAdmin__info {
    display: none;
  }

}

@media screen and (max-width: 450px) {
  .signInAsAdmin__details {
    padding: 0 2rem;
  }
}
